.navbar{
    display: flex;
    justify-content: space-evenly;
    padding:0 10%;
    color: white;
    background-color:black;

    .logo{
        display: flex;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        width: 80vw;
    }
    ul a:hover{
        color: yellow;
    }
}
